/* Start of General */ 
* {
    box-sizing: border-box;
}
* {
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}
a {
   text-decoration: none;
   color: #000;
}
li {
    list-style-type: none;
}
svg {
    width: 50px;
    height: 30px;
    overflow: visible;
}
#bloc_page {
    animation: appearance linear 3s;
}
.loading {
    border: 10px solid;
    border-top: 10px solid #9356dc;
    border-bottom: 10px solid #ff79da;
    border-left: 10px solid #9356dc;
    border-right: 10px solid #99e2d0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 3s linear, loader-opacity 3s;
    opacity: 0;
    margin: auto;
    position : absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
/* End of General */

/* Keyframes */ 
@keyframes appearance {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.1;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity : 0.3;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0.5turn);
        }
    100% {
        transform: rotate(1.5turn);    
    }
}
@keyframes loader-opacity {
    25% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
@keyframes fade-animation {
    0% {
        opacity: 1;
    }
    100% {
        fill: transparent;
        opacity: 0;

    }
}
/* End of Keyframes */ 

/* Start of Header */
#logo_ohmyfood {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
}
#logo_ohmyfood>img {
    width: 200px;
    height: auto;
}
#localisation {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    height: 50px;
    width: 100%;
}
header p {
    display: flex;
    width: 100%;
    justify-content: center;
}
.ico_local {
    margin-right: 1%;
}
/* End of header */

/* Start of main */ 
main {
    background-color: #f6f6f6;
    height: 330px;
    max-height: 330px;
}
#main_title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 80%;
    max-width: 80%;
    height: 50%;
    max-height: 50%;
}
main h1 {
    margin: auto;
    font-size: 1.8em;
    text-align: center;
    width: 80%;
    padding-top: 10%;
}
main h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    color: #20201e;
    text-align: center;
}
#button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 90%;
    height: 100px;
    max-height: 100px;
    margin: auto;
}
main a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    width:300px;
    max-width: 300px;
    height: 60px;
    max-height: 60px;
    background: linear-gradient(#9356DC, #FF79DA);
    box-shadow: 0 5px 10px 5px #eaeaea;
    border-radius: 50px 50px 50px 50px;
    padding: 5%;
}
main a:hover {
    display: flex;
    align-items: center;
    color: #FFF;
    height: 60px;
    background: linear-gradient(#9356DC, #FF79DA);
    box-shadow: 0 5px 40px 40px #eaeaea;
    border-radius: 50px 50px 50px 50px;
    padding: 5%;
    
}
/* End of main */ 

/* Start of section id fonctionnement */ 
#fonctionnement {
    display: flex;
    flex-direction: column;
    height: auto;
}
#fonctionnement>h2 {
    margin-left: 5%;
}
.column_function {
    display: flex;
    justify-content: center;
    height: 150px;
}
.column_function>a {
    width: 85%;
    margin: auto;
    background-color: #f6f6f6;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 30px;
    position:relative;
}
.column_function>a:hover {
    background-color: #FF79DA;
}
.circle_number {
    width: 35px;
    height: 35px;
    background-color: #9356DC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 40px;
}
.circle_number>p {
    color: #FFF;
}
.column_function>a>p {
    font-size: 1.2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fa-solid {
    display: block;
}
.ico_mobile {
    color: grey;
    font-size: 1.5em;
}
.ico_checklist {
    color: grey;
    font-size: 1.5em;
}
.ico_store {
    color: #9356DC;
    font-size: 1.5em; 
}
/* end of section id fonctionnement */ 

/* Start of section id restaurant */ 
#restaurant {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
#restaurant>h2 {
    margin-left: 5%;
}
article {
    width: 100%;
    height: auto;
}
article>a {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 25px 20px 0px #ebebeb;
    margin-bottom: 5%;
    border-radius: 20px 20px 20px 20px;
}
.border_new {
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: #99e2d0;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 15px;
    color: #008766;
}
article>a>img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.card_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_title>h2 {
    margin-left: 3%;
}
.ico_heart {
    font-size: 2.5em;
    margin-right: 3%;
    background-color: #FFF;
    position: relative;
}
.heart_main {
    fill: #FFF;
    stroke: black;
    stroke-width: 1em;
    position: absolute;
    bottom: 10px;    
}
.heart_background {
        fill: url(#text-fill);
      }
.heart_main:hover  {
animation: fade-animation 1.5s forwards;
}
.card_bottom_contents p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0;
    margin-left: 3%;
    margin-bottom: 3%;
}
/* end of section id restaurant */ 

/* Start of footer */ 
footer {
    display: flex;
    background-color: #353535;
    height: auto;
    color: #FFF;
}
footer>ul>li {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
}
#title {
    font-family: 'Shrikhand', cursive;
    padding-top: 15px;
    font-size: 1.3em;
}
footer a{
    display: flex;
    color: #FFF;
    padding: 0;
}
footer a:last-child {
   padding-bottom: 5%;
}
/* End of footer */ 

/* Start of Media Queries */ 

@media screen and (min-width: 1100px) {

  #button {
    width: 300px;
    margin-top: 2%;

  }
    #fonctionnement_menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .column_function {
        width: 100%;
    }
  #article_section {
    display: flex;
  }
}
